/* My CSS */


html {
  background: url(/img/topography.png) !important;
  background-attachment: fixed !important;
}
img {
border-radius: 8px;
}
.personal_logo {
 max-width: 60px;
}
.body {
  padding-left: 12.5px;
  padding-right: 12.5px;
  max-width: 984px;
    height: 100%;
  padding-top: 20px;
  margin: auto;
  background: rgba(255,255,255,.8);
    margin-top: 0px;
    margin-bottom: 0px;
}
.a_portfolio {
  margin-top: -10px;
  font-size: 9.8pt;
  margin-bottom: 67px;
}
p {
  font-size: 12pt;
  line-height: 24pt;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}
h1 {
  margin-left: 22.94%;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 42pt;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}
.about_me, .testimonials_desc {
  max-width: 471px;
  margin: auto;
  margin-top: 67px;
}
.break {
  border-bottom: 1px solid black;
  max-width: 772px;
  margin: auto;
  margin-top: 65px;
  margin-bottom: 65px;
}
.skills, .work_samples {
  width: 215px;
}
.skills_img, .skills_desc, .work_image_top, .work_image_bottom {
  margin: 0;
}
.skills_title {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 18pt;
  margin-top:15px;
  margin-bottom:15px;
}
.skills_desc {
margin-left: 26px;
}
.skills_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work_image_bottom {
margin-top: 25px;
}
.testimonials {
margin-bottom: -42px;
}

/* Mobile and Tablet */

@media (max-width: 975px){
    h1 {
        font-size: 24pt;
        text-align: center;
        padding: 0;
        margin: auto;
    }
    
    .a_portfolio {
      margin-top: -10px;
      font-size: 9.8pt;
      margin-bottom: 33px;
    }
    .about_me, .testimonials_desc {
      max-width: 471px;
      margin: auto;
      margin-top: 55px;
    }
        
    .break {
  margin-top: 25px;
  margin-bottom: 25px;
}
    .skills {
        width: 80%;
        margin: auto;
        margin-top: 25px;
        padding-bottom: 15px;
    
    }
    .work_image_bottom, .work_image_top  {
        margin-top: 10px;
}
    .work_image_bottom {
        display: none;
    }
    .work_samples {
        margin: auto;
        width: 80%;
        text-align: center;
    }
    .skills_title {
        font-size: 14pt;
        text-align: center;

}
    .skills_img {
          margin: auto;
        display: block;
    }
    .skills_desc {
        margin-left: 0;
    }
}

