/* My CSS */

.stage {
  max-width: 1080px;
  margin: auto;
  margin-top: 25vh;
}
.contact-bar-top {
  width: 100vw;
  height: 32px;
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  text-align: center;
}
.contact-bar-bottom {
  width: 100vw;
  height: 32px;
  position: fixed;
  background: black;
  bottom: 0;
  left: 0;
  text-align: center;
}
.contact-me {
  color: white;
  text-decoration: none;
}
.my-email {
  margin-top: 5px;
  animation: rubberBand ease 1s 9s;
}
.web-info {
  
  color: white;
  margin-top: 5px;
  animation: rubberBand ease 1s 9.3s;
}
#main-message {
 animation: fade4 11s;
}
#put-your-name-on-the-map, #build-a-brand, #make-it-happen {
 animation: fadeInRight ease 2s;
}
#together-we-can {
 animation: fadeInRight ease 1s;
}
#line-break { 
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 2000;
  }
}
#web-print {
 animation: fadeInRight ease 4s;
}

p, a {
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2em
}
#put-your-name-on-the-map { 
  animation: fade1 10s forwards;
}

@keyframes fade1 {
  0%{opacity: 0;
    transform: translate3d(2000px, 0, 0);}
  10%{opacity: 1;}
  20%{opacity: 1;
  transform: none;}
  30%{opacity: 1;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
}

#make-it-happen {
  animation: fade2 10s forwards;
}
@keyframes fade2 {
 0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 1;}
  50%{opacity: 1;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
}
#build-a-brand {
  animation: fade3 10s forwards;
}
@keyframes fade3 {
 0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 1;}
  70%{opacity: 1;}
  80%{opacity: 0;}
  90%{opacity: 0;}
  100%{opacity: 0;}
}

@keyframes fade4 {
 0%{opacity: 0;}
  10%{opacity: 0;}
  20%{opacity: 0;}
  30%{opacity: 0;}
  40%{opacity: 0;}
  50%{opacity: 0;}
  60%{opacity: 0;}
  70%{opacity: 0;}
  80%{opacity: 1;}
  90%{opacity: 1;}
  100%{opacity: 1;}
}