/* Managess All CSS Files.  */

@import "main";
@import "animate";
@import "uikit";
@import "uikit-rtl";
@import "jquery.popdown";

/* MY CSS */

html {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/dark-triangles.png");
  background-attachment: fixed;
}
.body {
  background-color: rgba(255, 255, 255, .1);
  width: 900px;
  max-width: 100%;
  margin: auto;
  box-shadow: 4px 3px 22px -1px rgba(0,0,0,0.75); 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#headerImageDiv {
  width: 100%;
  margin: 0;
  padding: 0;
}
.headerImage {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
}

#boxOne, #boxTwo, #boxThree, #boxFour {
  height: 200px;
  width: 450px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
#boxOne {
  background: #c10022;
  opacity: .5;
  border-style: none;
}

#boxTwo {
  background: #d99528;
    opacity: .5;
    border-style: none;
}
#boxThree {
  background: #81c341;
    opacity: .5;
    border-style: none;
}
#boxFour {
  background: #21c0d8;
    opacity: .5;
    border-style: none;
}
#boxOne:focus {
  background: #fff;
  opacity: .3;
  border-style: none;
}
#boxTwo:focus {
  background: #fff;
    opacity: .3;
    border-style: none;
}
#boxThree:focus {
  background: #fff;
    opacity: .3;
    border-style: none;
}
#boxFour:focus {
  background: #fff;
    opacity: .3;
    border-style: none;
}
#boxOne:hover {
  background: #c10022;
  opacity: .3;
  border-style: none;
}
#boxTwo:hover {
  background: #d99528;
    opacity: .3;
    border-style: none;
}
#boxThree:hover {
  background: #81c341;
    opacity: .3;
    border-style: none;
}
#boxFour:hover {
  background: #21c0d8;
    opacity: .3;
    border-style: none;
}
h1 {
  color: Black;
  z-index: 999;
  font-weight: 500;
}
.about {
    animation-delay: .2s;
}
.portfolio {
    animation-delay: .5s;
}
.contact {
    animation-delay: .8s;
}
.social {
    animation-delay: 1.1s;
}

.popdown:hover{
    opacity: .7;
}

.popDownWrapper {
    max-width: 90%;
    margin: auto;
        text-align: center;
    align-content: center;
    padding-bottom: 5px;
}
.popDownWrapper a {
    color: white;
    font-weight: 300;
}
.close-popdown {
    padding: 3px 8px 3px 8px;
    background: #c10022;
    border-radius: 3px;
}
a.portfolioLink {
    color: #c10022;
}
.thumbnail {
    margin: 3px;
    margin-bottom: 18px;
}